@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "GmarketSansMedium";
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #f1f6f5;
  background-color: #142850;
}

ul,
li {
  list-style-type: none;
  list-style: none;
}

a {
  color: #f1f6f5;
  text-decoration: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border: none;
}

h2 {
  font-size: 250%;
  margin-top: 40%;
  margin-bottom: 20%;
}

h3 {
  font-size: 0;
}

html {
  font-size: 16px;
}

.no-scroll {
  overflow: hidden;
}

.container {
  overflow: hidden;
  margin: auto 6%;
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: 25%;
    margin-right: 15%;
    width: 65%;
  }
}

header .head {
  position: absolute;
  margin-top: -900px;
}
@media screen and (min-width: 1024px) {
  header .head {
    position: relative;
    margin-top: -780px;
  }
}
header .logo_me {
  position: absolute;
  width: 19%;
  margin: 5%;
  margin-top: 35%;
}
@media screen and (min-width: 1024px) {
  header .logo_me {
    width: 6%;
    margin: 3%;
    margin-top: -24%;
  }
}
header h1 {
  z-index: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 450px 20%;
}
@media screen and (min-width: 1024px) {
  header h1 {
    margin: 20% 20%;
    font-size: 3.813rem;
  }
}
header .waves {
  position: absolute;
  overflow: hidden;
  right: 0;
  width: 100%;
  margin-top: -200px;
}
@media screen and (min-width: 1024px) {
  header .waves {
    margin-top: -200px;
    width: 100%;
    margin-left: 0%;
  }
}
header .waves .blue-wave,
header .waves .sky-wave,
header .waves .white-wave {
  margin-left: 0%;
  width: 240%;
}
@media screen and (min-width: 1024px) {
  header .waves .blue-wave,
header .waves .sky-wave,
header .waves .white-wave {
    width: 150%;
    height: 150px;
  }
}
@-webkit-keyframes wavemoveblue {
  0% {
    margin-left: -22%;
  }
  100% {
    margin-left: -7%;
  }
}
@keyframes wavemoveblue {
  0% {
    margin-left: -22%;
  }
  100% {
    margin-left: -7%;
  }
}
@-webkit-keyframes wavemovesky {
  0% {
    margin-left: -5%;
  }
  100% {
    margin-left: -20%;
  }
}
@keyframes wavemovesky {
  0% {
    margin-left: -5%;
  }
  100% {
    margin-left: -20%;
  }
}
@-webkit-keyframes wavemovewhite {
  0% {
    margin-left: -5%;
  }
  100% {
    margin-left: -40%;
  }
}
@keyframes wavemovewhite {
  0% {
    margin-left: -5%;
  }
  100% {
    margin-left: -40%;
  }
}
header .waves .blue-wave {
  margin-left: -22%;
  margin-top: -80px;
  -webkit-animation: wavemoveblue 2s 0s infinite alternate;
          animation: wavemoveblue 2s 0s infinite alternate;
}
@media screen and (min-width: 1024px) {
  header .waves .blue-wave {
    margin-left: -3%;
    margin-top: -120px;
  }
}
header .waves .sky-wave {
  margin-left: -5%;
  margin-top: -50px;
  -webkit-animation: wavemovesky 2s 0s infinite alternate;
          animation: wavemovesky 2s 0s infinite alternate;
}
@media screen and (min-width: 1024px) {
  header .waves .sky-wave {
    margin-top: -120px;
  }
}
header .waves .white-wave {
  margin-left: -13%;
  -webkit-animation: wavemovewhite 2s 0s infinite alternate;
          animation: wavemovewhite 2s 0s infinite alternate;
}
header .support {
  z-index: 3;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0px;
  display: flex;
  width: 100%;
}
header .support1,
header .support2 {
  z-index: 3;
  margin: 0;
  color: #fff;
  font-size: 1.5rem;
  transition: all 400ms ease;
}
header .support1:hover,
header .support2:hover {
  color: #f1f6f5;
}
header nav {
  position: fixed;
  z-index: 50;
  background-color: 255, 255, 255, 0.1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 105%;
  top: 2%;
  border: 2px solid #f1f6f5;
  margin-left: -4%;
  margin-top: -4%;
}
@media screen and (min-width: 1024px) {
  header nav {
    margin-top: 15%;
    border: none;
    width: 18%;
    margin-left: 1%;
  }
}
header nav ul {
  line-height: 60px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-align: center;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    text-align: left;
  }
}
header nav li {
  display: inline-block;
  font-size: 1rem;
  width: 20%;
}
header nav li:nth-child(3), header nav li:nth-child(4) {
  width: 26%;
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  header nav li:nth-child(3), header nav li:nth-child(4) {
    font-size: 1.5rem;
  }
}
@-webkit-keyframes hovernav {
  0% {
    font-size: 109%;
  }
  100% {
    font-size: 120%;
  }
}
@keyframes hovernav {
  0% {
    font-size: 109%;
  }
  100% {
    font-size: 120%;
  }
}
@-webkit-keyframes hovernavpc {
  0% {
    font-size: 1.5rem;
  }
  100% {
    font-size: 1.6rem;
  }
}
@keyframes hovernavpc {
  0% {
    font-size: 1.5rem;
  }
  100% {
    font-size: 1.6rem;
  }
}
header nav li:hover {
  -webkit-animation: hovernav 0.5s 0s alternate forwards;
          animation: hovernav 0.5s 0s alternate forwards;
}
@media screen and (min-width: 1024px) {
  header nav li:hover {
    -webkit-animation: hovernavpc 0.5s 0s alternate forwards;
            animation: hovernavpc 0.5s 0s alternate forwards;
  }
}
@media screen and (min-width: 1024px) {
  header nav li {
    font-size: 1.4em;
    display: block;
    line-height: 3rem;
  }
}
header nav img {
  display: none;
}
@media screen and (min-width: 1024px) {
  header nav img {
    display: block;
    width: 100px;
    margin-bottom: 40px;
  }
}

main {
  margin-top: 500px;
}
@media screen and (min-width: 1024px) {
  main {
    margin-top: 0;
  }
}
main section.about ul {
  display: flex;
  flex-direction: column;
}
main section.about li:nth-of-type(1) {
  order: 2;
}
main section.about li:nth-of-type(2) {
  order: 1;
}
@media screen and (min-width: 1024px) {
  main section.about li:nth-of-type(1) {
    order: 1;
  }
  main section.about li:nth-of-type(2) {
    order: 2;
    display: flex;
  }
}
main section.about .for-card-animation {
  width: 85%;
  perspective: 1700px;
}
@media screen and (min-width: 1024px) {
  main section.about .for-card-animation {
    perspective: none;
  }
}
main section.about .for-card-animation:hover .front {
  transform: rotateY(180deg);
}
@media screen and (min-width: 1024px) {
  main section.about .for-card-animation:hover .front {
    transform: none;
  }
}
main section.about .for-card-animation:hover .back {
  transform: rotateY(0deg);
}
@media screen and (min-width: 1024px) {
  main section.about .for-card-animation:hover .back {
    transform: none;
  }
}
main section.about .for-card-animation .card-all {
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 2s;
}
@media screen and (min-width: 1024px) {
  main section.about .for-card-animation .card-all {
    transition: none;
    width: 30%;
  }
}
main section.about .for-card-animation .front {
  position: absolute;
  transform: rotateY(0deg);
}
@media screen and (min-width: 1024px) {
  main section.about .for-card-animation .front {
    position: relative;
    transform: none;
    width: 100%;
  }
}
main section.about #mobile-me {
  display: flex;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main section.about #mobile-me {
    text-align: left;
  }
}
main section.about #mobile-me .mobile-me-img {
  margin: 25% 7.5% 10% 7.5%;
  width: 100%;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  main section.about #mobile-me .mobile-me-img {
    margin: 10.5% 0 10% 3.8%;
    width: 30%;
    border-radius: 200px;
  }
}
main section.about #mobile-me .letters {
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.about #mobile-me .letters {
    width: 34%;
    display: block;
    position: absolute;
    margin: 8.4% 0 10% 1.75%;
    -webkit-animation: rotate_image 20s linear infinite;
            animation: rotate_image 20s linear infinite;
    transform-origin: 50% 50%;
  }
  @-webkit-keyframes rotate_image {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate_image {
    100% {
      transform: rotate(360deg);
    }
  }
}
main section.about .introduction {
  position: absolute;
  top: 109px;
  left: 0px;
  line-height: 2.7rem;
  transform: rotateY(-180deg);
  background-color: #f1f6f5;
  color: #142850;
  padding: 20px 0;
  margin: 0 10%;
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  main section.about .introduction {
    transform: none;
    background-color: transparent;
    color: #f1f6f5;
    margin-top: 75%;
    margin-left: 50%;
    line-height: 3.5rem;
    padding: 0;
    display: block;
    font-size: 1.2rem;
  }
  main section.about .introduction h4 {
    width: 240px;
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
  main section.about .introduction span {
    font-size: 1.4rem;
  }
  main section.about .introduction table td:first-child {
    padding-right: 6rem;
  }
}
main section.about .forchange {
  display: flex;
}
main section.about .forchange .me-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.1rem;
  margin-top: 140%;
}
@media screen and (min-width: 1024px) {
  main section.about .forchange .me-text {
    text-align: left;
    margin-top: 18%;
  }
}
main section.about .forchange .me-text span {
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3rem;
}
@media screen and (min-width: 1024px) {
  main section.skills .for-pc-skill {
    display: flex;
    margin-top: -12%;
  }
  main section.skills .for-pc-skill .for-pc-skill-second {
    margin-left: 11%;
    margin-top: -13.8%;
  }
}
main section.skills .skill {
  margin-bottom: 4rem;
  display: flex;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill {
    width: 50%;
    margin-bottom: 20%;
  }
  main section.skills .skill .skill-text {
    position: absolute;
    margin-top: 3.5%;
    width: 29%;
  }
}
@-webkit-keyframes rotate_boat {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes rotate_boat {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
main section.skills .skill .boat {
  width: 16%;
  height: 16%;
  margin-right: 6%;
  -webkit-animation: rotate_boat 1.5s linear infinite;
          animation: rotate_boat 1.5s linear infinite;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill .boat {
    position: relative;
    z-index: 1;
    width: 20%;
  }
}
@media screen and (min-width: 1024px) {
  main section.skills .skill .random-move1 {
    -webkit-animation: rotate_boat 2s linear infinite;
            animation: rotate_boat 2s linear infinite;
  }
  main section.skills .skill .random-move2 {
    animation: rotate_boat 1s linear infinite reverse;
  }
  main section.skills .skill .random-move3 {
    -webkit-animation: rotate_boat 2.5s linear infinite alternate;
            animation: rotate_boat 2.5s linear infinite alternate;
  }
  main section.skills .skill .random-move4 {
    -webkit-animation: rotate_boat 1s linear infinite;
            animation: rotate_boat 1s linear infinite;
  }
}
main section.skills .skill .wave-skill {
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill .wave-skill {
    display: block;
    position: absolute;
    height: 5%;
    margin-top: 0.35%;
    margin-left: 0.5%;
  }
}
main section.skills .skill .percent {
  margin-left: 4%;
  height: 10px;
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill .percent {
    margin-left: 143%;
    margin-top: 8%;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .submarine-hide-box {
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles {
    display: flex;
    margin-left: -105%;
    width: 100%;
  }
}
main section.portfolio .circles .submarine-mobile {
  position: relative;
  z-index: 13;
  width: 25%;
  margin: 0% 35% -7% 35%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .submarine-mobile {
    display: none;
  }
}
main section.portfolio .circles .circle {
  cursor: pointer;
  width: 100%;
  height: 390px;
  border-radius: 300px;
  margin-bottom: 25%;
}
main section.portfolio .circles .circle .for-slide .first-slide,
main section.portfolio .circles .circle .for-slide .second-slide,
main section.portfolio .circles .circle .for-slide .third-slide {
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle {
    width: 100%;
    height: 30%;
    cursor: auto;
    margin-left: 0;
    width: 50%;
  }
  main section.portfolio .circles .circle .for-slide {
    overflow: hidden;
    width: 200%;
    height: 1400px;
    padding: 0;
    margin-left: -10%;
    margin-top: -70%;
  }
  main section.portfolio .circles .circle .for-slide .first-slide,
main section.portfolio .circles .circle .for-slide .second-slide,
main section.portfolio .circles .circle .for-slide .third-slide {
    display: block;
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: #142850;
    margin: 0;
    margin-top: -1120px;
  }
}
main section.portfolio .circles .circle .first-line-fall {
  position: relative;
}
main section.portfolio .circles .circle .webPF {
  position: absolute;
  z-index: 11;
  text-align: center;
  font-size: 1.3rem;
  padding-top: 13%;
  padding-bottom: 15%;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .webPF {
    position: relative;
    margin-top: -99.4%;
    margin-left: -10%;
    padding: 0;
  }
}
main section.portfolio .circles .circle .pc-submarine-text {
  margin-bottom: 10%;
  border: 1px solid #f1f6f5;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .pc-submarine-text {
    border: none;
    margin-top: 132%;
    margin-left: 20%;
    width: 90%;
  }
}
main section.portfolio .circles .circle .pc-submarine-text .img-box {
  position: relative;
  background-color: pink;
  display: flex;
  overflow: hidden;
  border: none;
  z-index: 10;
  height: 400px;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .pc-submarine-text .img-box {
    position: relative;
    border: 2px solid #f1f6f5;
    padding: 0;
    width: 300px;
    height: 305px;
  }
}
main section.portfolio .circles .circle .pc-submarine-text .img-box .b,
main section.portfolio .circles .circle .pc-submarine-text .img-box .j,
main section.portfolio .circles .circle .pc-submarine-text .img-box .profile-capture {
  border: 1px solid aqua;
  position: relative;
  z-index: 0;
  width: 100%;
  margin: -80% 0 0 -5%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .pc-submarine-text .img-box .b,
main section.portfolio .circles .circle .pc-submarine-text .img-box .j,
main section.portfolio .circles .circle .pc-submarine-text .img-box .profile-capture {
    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 0px;
    background-color: transparent;
  }
}
main section.portfolio .circles .circle .pc-submarine-text .img-box .j {
  margin-top: -13%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .pc-submarine-text .img-box .j {
    margin-top: 1%;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .one {
    width: 100%;
    margin-left: 8%;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .one .buttons,
main section.portfolio .circles .circle .one .left-right {
    margin-top: 8%;
    margin-left: -15%;
  }
}
main section.portfolio .circles .circle .one .webPF {
  margin-top: -8%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .one .webPF {
    position: relative;
    text-align: left;
    border-left: 2px solid #f1f6f5;
    margin-left: 10%;
    margin-top: -99%;
    padding: 50% 6% 43% 6%;
  }
}
main section.portfolio .circles .circle .two {
  height: 400px;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .two {
    width: 100%;
    height: auto;
  }
}
main section.portfolio .circles .circle .two .webPF {
  margin-top: -63%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .two .webPF {
    text-align: center;
    margin-top: 30%;
    margin-left: -70px;
  }
}
main section.portfolio .circles .circle .two .buttons {
  margin-top: -10%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .two .buttons {
    margin-top: 5%;
    margin-left: 23%;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .two .buttons .design,
main section.portfolio .circles .circle .two .buttons .detail,
main section.portfolio .circles .circle .two .buttons .git {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .two {
    margin-left: 19%;
    margin-top: 71.5%;
  }
}
main section.portfolio .circles .circle .two span.line {
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .two span.line {
    display: block;
    padding: 182px 0 50px 0;
    margin-top: -182px;
    margin-left: 140px;
    border-left: 2px solid #f1f6f5;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .three {
    position: relative;
  }
}
main section.portfolio .circles .circle .three .buttons,
main section.portfolio .circles .circle .three .left-right {
  margin-top: 2%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .three .buttons,
main section.portfolio .circles .circle .three .left-right {
    margin-top: 7%;
    margin-left: 60%;
  }
}
main section.portfolio .circles .circle .three .webPF {
  margin-top: -9%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .three .webPF {
    width: 100%;
    height: 45.3%;
    margin-left: -40%;
    margin-top: -112%;
    padding: 57% 6% 49% 6%;
    border-right: 2px solid #f1f6f5;
    text-align: right;
  }
}
main section.portfolio .circles .circle .one .left-right,
main section.portfolio .circles .circle .three .left-right {
  width: 30%;
}
main section.portfolio .circles .circle .one .left-right .design,
main section.portfolio .circles .circle .one .left-right .detail,
main section.portfolio .circles .circle .one .left-right .git,
main section.portfolio .circles .circle .three .left-right .design,
main section.portfolio .circles .circle .three .left-right .detail,
main section.portfolio .circles .circle .three .left-right .git {
  width: 100%;
  font-size: 0.9rem;
  padding: 5px 9px;
  margin-left: 63%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .one .left-right .design,
main section.portfolio .circles .circle .one .left-right .detail,
main section.portfolio .circles .circle .one .left-right .git,
main section.portfolio .circles .circle .three .left-right .design,
main section.portfolio .circles .circle .three .left-right .detail,
main section.portfolio .circles .circle .three .left-right .git {
    font-size: 1rem;
    width: 90%;
    margin-left: 50%;
  }
}
main section.portfolio .circles .circle .one .left-right .git,
main section.portfolio .circles .circle .three .left-right .git {
  margin-left: 115%;
  width: 180%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .one .left-right .git,
main section.portfolio .circles .circle .three .left-right .git {
    width: 90%;
    margin-left: 50%;
  }
}
main section.portfolio .circles .circle .submarine-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .submarine-pc {
    display: inline-block;
    width: 170%;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .circle .second-pc {
    margin-left: 8%;
  }
  main section.portfolio .circles .circle .third-pc {
    margin-left: 14%;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .submarine-one {
    position: relative;
  }
  main section.portfolio .circles .submarine-one .buttons {
    position: relative;
    margin-left: 23%;
  }
  main section.portfolio .circles .submarine-two {
    margin-left: 3%;
  }
  main section.portfolio .circles .submarine-two .buttons {
    margin-top: 6%;
    margin-left: 18%;
  }
  main section.portfolio .circles .submarine-three {
    margin-left: 8%;
  }
  main section.portfolio .circles .submarine-three .buttons {
    margin-top: 24%;
    margin-left: 11%;
    width: 32%;
  }
}
main section.portfolio .circles .buttons,
main section.portfolio .circles .left-right {
  position: absolute;
  margin: 0% 3%;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .buttons,
main section.portfolio .circles .left-right {
    position: relative;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin: 5% 10%;
  }
}
main section.portfolio .circles .buttons .design,
main section.portfolio .circles .buttons .detail,
main section.portfolio .circles .buttons .git,
main section.portfolio .circles .left-right .design,
main section.portfolio .circles .left-right .detail,
main section.portfolio .circles .left-right .git {
  cursor: pointer;
  margin: auto 40%;
  text-align: center;
  border: 2px solid #f1f6f5;
  padding: 5% 10%;
  border-radius: 10px;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .buttons .design,
main section.portfolio .circles .buttons .detail,
main section.portfolio .circles .buttons .git,
main section.portfolio .circles .left-right .design,
main section.portfolio .circles .left-right .detail,
main section.portfolio .circles .left-right .git {
    margin: 0;
  }
}
main section.portfolio .circles .buttons .design,
main section.portfolio .circles .left-right .design {
  margin-right: -30%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .buttons .design,
main section.portfolio .circles .left-right .design {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
main section.portfolio .circles .buttons .git,
main section.portfolio .circles .left-right .git {
  margin-left: -27%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .buttons .git,
main section.portfolio .circles .left-right .git {
    width: 75%;
    margin-top: 17%;
    margin-left: 0%;
  }
}
main section.portfolio .circles .modal {
  cursor: auto;
  display: none;
  z-index: 5;
  position: fixed;
  background-color: white;
  color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  margin-left: -6%;
  overflow: auto;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal {
    margin-left: -49.8%;
  }
}
main section.portfolio .circles .modal .x-box {
  position: fixed;
  width: 97%;
  background-color: white;
  z-index: 5;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal .x-box {
    width: 99.1%;
  }
}
main section.portfolio .circles .modal .x-box .x {
  cursor: pointer;
  margin-left: 90%;
  margin-top: 1%;
  font-size: 2rem;
}
main section.portfolio .circles .modal .head_capture {
  width: 100%;
  filter: brightness(50%);
}
main section.portfolio .circles .modal .modal-contents {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 5%;
}
main section.portfolio .circles .modal .modal-contents h4 {
  text-align: center;
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal .modal-contents h4 {
    font-size: 2.5rem;
  }
}
main section.portfolio .circles .modal .modal-contents h4::after {
  font-family: "PT Sans", sans-serif;
  content: "";
  display: block;
  width: 40px;
  border-bottom: 1px solid black;
  margin: 8px auto;
}
main section.portfolio .circles .modal .modal-contents h5 {
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal .modal-contents h5 {
    font-size: 2rem;
  }
}
main section.portfolio .circles .modal .modal-contents p {
  font-size: 0.8rem;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal .modal-contents p {
    font-size: 1.2rem;
  }
}
main section.portfolio .circles .modal .modal-contents .pc-and-mobile {
  text-align: center;
  margin-top: -20%;
  margin-bottom: 20%;
}
main section.portfolio .circles .modal .modal-contents .pc-and-mobile .pc-jujery {
  width: 60%;
}
main section.portfolio .circles .modal .modal-contents .pc-and-mobile .mobile-jujery {
  width: 20%;
}
main section.portfolio .circles .modal .modal-contents .grid-system {
  width: 100%;
  border: 1px solid #c5cacc;
  padding: 2%;
  margin-bottom: 5%;
}
main section.portfolio .circles .modal .modal-contents .grid-system .jujery-grid {
  width: 33%;
  display: inline-block;
}
main section.portfolio .circles .modal .modal-contents .grid-system .bonheur-grid1 {
  width: 40%;
}
main section.portfolio .circles .modal .modal-contents .grid-system .bonheur-grid2 {
  width: 30%;
}
main section.portfolio .circles .modal .modal-contents .grid-system p {
  font-size: 0.5rem;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal .modal-contents .grid-system p {
    font-size: 1.5rem;
  }
}
main section.portfolio .circles .modal .modal-contents .concept {
  width: 80%;
  padding: 2%;
  background-color: #eee;
}
main section.portfolio .circles .modal .modal-contents .color-system {
  width: 80%;
  float: right;
  padding: 2%;
  background-color: #ccc;
}
main section.portfolio .circles .modal .modal-contents .color-system .colors {
  text-align: center;
}
main section.portfolio .circles .modal .modal-contents .color-system .colors img {
  width: 20%;
}
main section.portfolio .circles .modal .modal-contents .typograpy {
  margin-top: 52%;
  padding: 2%;
  width: 80%;
  background-color: #a0a0a0;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal .modal-contents .typograpy {
    margin-top: 30.6%;
  }
}
main section.portfolio .circles .modal .modal-contents .typograpy .main-sub-flex {
  display: flex;
}
main section.portfolio .circles .modal .modal-contents .typograpy .main-sub-flex .sub {
  padding-left: 10px;
  border-left: 1px solid #333;
}
main section.portfolio .circles .modal .modal-contents .typograpy .main-sub-flex span {
  color: #6f6f6f;
  font-size: 0.8rem;
}
main section.portfolio .circles .modal .modal-contents .typograpy .main-sub-flex p span {
  color: #000;
  font-size: 0.6rem;
}
main section.portfolio .circles .modal .modal-contents .logo {
  margin-top: 10%;
  padding: 5%;
  width: 90%;
  background-color: #f8f9fa;
}
main section.portfolio .circles .modal .modal-contents .logo .logo-text::after {
  font-family: "PT Sans", sans-serif;
  content: "";
  display: inline-block;
  width: 38%;
  border-bottom: 1px solid black;
  margin: 3px 10px;
}
main section.portfolio .circles .modal .modal-contents .logo .jujery-logo {
  margin: 5% 30%;
  width: 40%;
}
main section.portfolio .circles .modal .modal-contents .main-page-design h4 {
  margin-top: 20%;
}
main section.portfolio .circles .modal .modal-contents .main-page-design ul {
  width: 36%;
  display: inline-block;
  margin-right: 3%;
}
main section.portfolio .circles .modal .modal-contents .main-page-design ul li {
  margin-bottom: 3%;
  padding: 10%;
  background-color: #eee;
  text-align: center;
}
main section.portfolio .circles .modal .modal-contents .main-page-design ul li:nth-child(2) {
  padding: 30% 10%;
}
main section.portfolio .circles .modal .modal-contents .main-page-design .main-page-pc-jujery {
  display: inline-block;
  width: 43%;
}
main section.portfolio .circles .modal .modal-contents .main-page-design .main-page-mobile-jujery {
  width: 15%;
}
main section.portfolio .circles .modal .modal-contents .main-page-design .main-page-design-text {
  margin-top: 10%;
  text-align: center;
}
main section.portfolio .circles .modal .modal-contents .main-page-design .main-page-capture {
  text-align: center;
  margin-top: 3%;
}
main section.portfolio .circles .modal .modal-contents .main-page-design .main-page-capture .main-page-pc {
  width: 51.4%;
}
main section.portfolio .circles .modal .modal-contents .main-page-design .main-page-capture .main-page {
  width: 35%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal_bonheur {
    margin-left: -25.6%;
  }
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page {
  margin-top: 20%;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page .pc1,
main section.portfolio .circles .modal_jujery .modal-contents .sub-page .pc2 {
  display: block;
  margin-left: 10%;
  margin-top: -70%;
  width: 80%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal_jujery .modal-contents .sub-page .pc1,
main section.portfolio .circles .modal_jujery .modal-contents .sub-page .pc2 {
    width: 50%;
    margin-left: 25%;
    margin-top: -20%;
  }
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page .mobile-long,
main section.portfolio .circles .modal_jujery .modal-contents .sub-page .mobile-short {
  position: relative;
  width: 30%;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal_jujery .modal-contents .sub-page .mobile-long,
main section.portfolio .circles .modal_jujery .modal-contents .sub-page .mobile-short {
    width: 16%;
  }
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page .mobile-long {
  margin: -15% 0 0 10%;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr {
  border-collapse: collapse;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(1), main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(4) {
  background-color: #d8d8d8;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(1) td, main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(4) td {
  padding: 40px 0 120px 0;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(2), main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(5) {
  text-align: center;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(2) td, main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(5) td {
  padding: 200px 0 100px 0;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(2) {
  background-color: #fdea8c;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr:nth-child(5) {
  background-color: #f2c989;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr td {
  border-collapse: collapse;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr td p {
  width: 50%;
  margin-left: 5%;
  display: inline-block;
}
main section.portfolio .circles .modal_jujery .modal-contents .sub-page tr td h5 {
  padding-left: 30px;
}
main section.portfolio .circles .modal_jujery .modal-contents .captures {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .circles .modal_portfolio {
    margin-left: -74.3%;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java-box-container {
    margin-top: 300px;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java-box-container .java-box {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
main section.portfolio .java-box-container .java-box .turtle-box {
  position: absolute;
  overflow: hidden;
  width: 70%;
  height: 50%;
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java-box-container .java-box .turtle-box {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java-box-container .java-box .turtle-box .first-turtle,
main section.portfolio .java-box-container .java-box .turtle-box .second-turtle {
    position: relative;
    width: 40%;
    left: 32%;
    top: -110%;
    z-index: 1;
  }
}
main section.portfolio .java-box-container .java-box .turtle-box .first-turtle {
  transform: rotate(90deg);
}
main section.portfolio .java-box-container .java-box .turtle-box .second-turtle {
  transform: rotate(-90deg);
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java-box-container .first-java-box {
    margin-top: 20%;
  }
}
main section.portfolio .first {
  margin-top: 30%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .first {
    margin-top: 0%;
    margin-right: 10%;
  }
}
main section.portfolio .java {
  margin-bottom: 10%;
}
main section.portfolio .java img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java img {
    width: 100%;
  }
}
main section.portfolio .java .java-text {
  width: 63%;
  float: left;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java .java-text {
    margin-right: 12%;
  }
}
main section.portfolio .java .buttons_java {
  position: relative;
  z-index: 1;
  float: left;
  width: 20%;
  margin-bottom: 15%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java .buttons_java {
    display: block;
    width: 20%;
  }
}
main section.portfolio .java .buttons_java .design,
main section.portfolio .java .buttons_java .detail {
  cursor: pointer;
  margin: auto 50%;
  padding: 15px auto;
  text-align: center;
  border: 2px solid #f1f6f5;
  padding: 5% 10%;
  border-radius: 10px;
  margin-right: -30%;
  width: 100%;
  margin-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java .buttons_java .design,
main section.portfolio .java .buttons_java .detail {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  main section.portfolio .java .buttons_java .design {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
main section.contact .contact-box {
  border: 1px solid #c5cacc;
  border-radius: 10px;
  width: 100%;
  padding: 4%;
  margin-bottom: 15%;
}
main section.contact form {
  line-height: 2.3rem;
}
main section.contact form #name,
main section.contact form #phonenumber {
  margin-left: 1rem;
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f1f6f5;
}
main section.contact form #message {
  background-color: transparent;
  width: 100%;
  border: 1px solid #f1f6f5;
}
main section.contact form #name,
main section.contact form #phonenumber,
main section.contact form #message {
  color: #f1f6f5;
}
main section.contact form .contact-btns {
  text-align: right;
}
main section.contact form .contact-btns button {
  cursor: pointer;
  font-family: "GmarketSansMedium";
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid #f1f6f5;
  color: #f1f6f5;
  padding: 8px 12px;
  border-radius: 5px;
  margin-right: 20px;
}
main section.contact form .contact-btns button:last-child {
  margin-right: 0;
}

footer .footer-box {
  background-color: #f1f6f5;
  padding-top: 3%;
  padding-bottom: 20%;
  color: #142850;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer .footer-box {
    padding-top: 1%;
    padding-bottom: 0;
  }
}
footer .footer-box .footer-img1,
footer .footer-box .footer-img2 {
  width: 20%;
  padding: 5%;
}
@media screen and (min-width: 1024px) {
  footer .footer-box .footer-img1,
footer .footer-box .footer-img2 {
    padding: 10px;
    position: relative;
    width: 4%;
  }
}
footer .footer-box .footer-img2 {
  margin-left: 10%;
}
@media screen and (min-width: 1024px) {
  footer .footer-box .footer-img2 {
    margin-left: 20px;
  }
}/*# sourceMappingURL=profile.css.map */