@import './style.scss';
@import './common.scss';
@import './mixin.scss';

h3 {
    font-size: 0;
}

h2 {
    font-size: 250%;
    margin-top: 40%;
    margin-bottom: 20%;
}

html { font-size: 16px; }
.container {
    margin: auto 6%;
    // background-color: pink; 
    @include responsive(pc-screens){
            margin-left: 25%;
            margin-right: 15%;
            width: 65%;
    }
}

header {
    .logo_me {
        position: absolute;
        width: 19%;
        margin: 3%; top: 0;
        @include responsive(pc-screens) {
            width: 6%;
        }
    }
    h1 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin: 400px auto; 
        @include responsive(pc-screens) {
        font-size: 3.813rem;
        }        
    }

    .waves {
        // border: 1px solid pink;
        position: absolute;
        overflow: hidden;
        right: 0;
        width: 100%;
        margin-top: -160px;
        @include responsive(pc-screens){
            width: 100%;
            margin-left: 0%;
        }

        .blue-wave,
        .sky-wave,
        .white-wave {
            margin-left: 0%;
            width: 240%; //240
            @include responsive(pc-screens){
                width: 150%; height: 150px;
            }
        }

        @keyframes wavemoveblue {
            0% {margin-left: -22%;}
            // 50% {margin-left: -33%;}
            100%{margin-left: -7%;}
        }

        @keyframes wavemovesky {
            0% {margin-left: -5%;}
            // 50% {margin-left: -21%;}
            100%{margin-left: -20%;}
        }

        @keyframes wavemovewhite {
            0% {margin-left: -5%;}
            100%{margin-left: -40%;}
        }

        .blue-wave {
            margin-left: -22%;
            margin-top: -80px;
            animation: wavemoveblue 2s 0s infinite alternate;
            @include responsive(pc-screens){
                margin-left: -3%;
                margin-top: -120px;
            }
        }

        .sky-wave {
            margin-left: -5%;
            margin-top: -50px;
            animation: wavemovesky 2s 0s infinite alternate;
            @include responsive(pc-screens){
                margin-top: -120px;
            }
        }

        .white-wave {
            margin-left: -13%;
            animation: wavemovewhite 2s 0s infinite alternate;
        }

    }


    nav {
        position: fixed;
        z-index: 5;
        background-color: (255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        width: 105%; top: 2%;
        border: 2px solid $color-sub;
        margin-left: -4%;
        @include responsive(pc-screens){
            border: none;
            width: 18%;
            margin-top: 5%;
            margin-left: 1%;
        }

        ul {
            line-height: 60px;
            backdrop-filter: blur(10px);
            text-align: center;
            @include responsive(pc-screens) {
                text-align: left;
            }
        }
        
        li {
            display: inline-block;
            font-size: 109%;
            // background-color: pink;
            width: 20%;
            &:nth-child(3),
            &:nth-child(4) {
                width: 26%;
                font-size: 98%;
            }
            @keyframes hovernav {
                0% {font-size: 109%;}
                100%{font-size: 120%;}
            }
            &:hover{
                animation: hovernav 0.5s 0s alternate forwards;
            }
            @include responsive(pc-screens) {
                line-height: 1.4em;
                display: block;
                line-height: 3rem;
            }
        }

        img {
            display: none;
        }
        @include responsive(pc-screens) {
            img {
                display: block;
                width: 100px;
                margin-bottom: 40px;
            }
        }
        
    } // nav

}

main {
    section.about {
        ul{ display: flex; flex-direction: column; }
        li:nth-of-type(1){order: 2;}
        li:nth-of-type(2){order: 1;}
        @include responsive(pc-screens) {
            li:nth-of-type(1){order: 1;}
            li:nth-of-type(2){order: 2; display: flex;}
        }

        .for-card-animation {
            width: 85%;
            // background-color: pink;
            perspective: 1700px;
            @include responsive(pc-screens) {
                perspective: none;
            }
            &:hover {
                .front {
                    transform: rotateY(180deg);
                    @include responsive(pc-screens) {
                        transform: none;
                    }
                }
                .back {
                    transform: rotateY(0deg);
                    @include responsive(pc-screens) {
                        transform: none;
                    }
                }
            }

            .card-all {
                width: 100%;
                backface-visibility: hidden;
                transition: 2s;
                @include responsive(pc-screens) {
                    transition: none;
                    width: 30%;
                }
            }

            .front {
                position: absolute;
                transform: rotateY(0deg);
                @include responsive(pc-screens) {
                    position: relative;
                    transform: none;
                    width: 100%;
                }
            }
        }
        #mobile-me {
            // background-color: aqua;
            display: flex;
            text-align: center;
            @include responsive(pc-screens) {
                text-align: left;
            }
            .mobile-me-img {
                margin: 25% 7.5% 10% 7.5%;
                width: 100%;
                cursor: pointer;
                @include responsive(pc-screens) {
                    margin: 10.5% 0 10% 3.8%;
                    width: 30%;
                    border-radius: 200px;
                }
            }
            .letters {
                display: none;
                @include responsive(pc-screens) {
                    width: 34%;
                    display: block;
                    position: absolute;
                    margin: 8.4% 0 10% 1.75%;
                    animation: rotate_image 20s linear infinite; transform-origin: 50% 50%;
                    @keyframes rotate_image{
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            } // letters
        } // mobile-me
        .introduction {
            position: absolute;
            top: 109px; left: 0px;
            line-height: 2.7rem;
            transform: rotateY(-180deg);
            background-color: $color-sub;
            color: $color-main;
            padding: 20px 0;
            margin: 0 10%;
            font-size: 1rem;
            @include responsive(pc-screens) {
                transform: none;
                background-color: transparent;
                color: $color-sub;
                margin-top: 75%; margin-left: 50%;
                line-height: 3.5rem;
                padding: 0;
                h4 {
                    // background-color: aqua;
                    width: 240px;
                    font-size: 2rem;
                    margin-bottom: 3.5rem;
                }
                display: block;
                font-size: 1.2rem;
                span {
                    font-size: 1.4rem;
                }
                table{
                    td:first-child { 
                        padding-right: 6rem;
                    }
                }
            }
        }
        
        .forchange {
            display: flex;
            .me-text {
                text-align: center;
                font-size: 1.2rem;
                line-height: 2.1rem;
                margin-top: 140%;
                @include responsive(pc-screens) {
                    text-align: left;
                    margin-top: 18%;
                }
                span {
                    font-size: 2.3rem;
                    font-weight: 300;
                    line-height: 3rem;
                }
            }
        }
    } // about section end

    section.skills {
        .for-pc-skill {
            @include responsive(pc-screens) {
                // background-color: rgba(200, 100, 140, 0.5);
                display: flex;
                margin-top: -12%;
                .for-pc-skill-second {
                    margin-left: 11%;
                    margin-top: -13.8%;
                }
            }
        }

        .skill {
            margin-bottom: 4rem;
            display: flex;
            @include responsive(pc-screens) {
                width: 50%;
                // margin-left: 6%;
                margin-bottom: 20%;
                .skill-text {
                    position: absolute;
                    margin-top: 3.5%;
                    width: 29%;
                }
            }

            @keyframes rotate_boat {
                0% { transform: rotate(-20deg); }
                25% { transform: rotate(0deg); }
                50% { transform: rotate(20deg);}
                75% { transform: rotate(0deg);}
                100%{ transform: rotate(-20deg);}
            }
            .boat {
                width: 16%; height: 16%;
                margin-right: 6%;
                animation: rotate_boat 1.5s linear infinite;
                @include responsive(pc-screens) {
                    position: relative;
                    z-index: 1;
                    width: 20%;
                }
            }
            @include responsive(pc-screens) {
                .random-move1 { animation: rotate_boat 2s linear infinite; }
                .random-move2 { animation: rotate_boat 1s linear infinite reverse; }
                .random-move3 { animation: rotate_boat 2.5s linear infinite alternate; }
                .random-move4 { animation: rotate_boat 1s linear infinite; }
            }

            .wave-skill {
                display: none;
                @include responsive(pc-screens) {
                    display: block;
                    position: absolute;
                    height: 5%;
                    margin-top: 0.35%; margin-left: 0.5%;
                    // background-color: aqua;
                }
            }

            .percent {
                margin-left: 4%;
                height: 10px;
                font-size: 1.6rem;
                @include responsive(pc-screens) {
                    margin-left: 143%;
                    margin-top: 8%;
                }
            }
        }
    } // skills section end

    section.portfolio {
        .submarine-hide-box {
            @include responsive(pc-screens) {
            // background-color: pink;
            width: 100%;
            overflow: hidden;
            }
        }
        .circles {
            @include responsive(pc-screens) {
                display: flex;
                margin-left: -105%;
                width: 100%;
            }
            .submarine-mobile {
                position: relative;
                z-index: 1;
                width: 30%;
                margin: auto 35% -10%;
                @include responsive(pc-screens) {
                    display: none;
                }
            }
            .circle {
                // background-color: pink;
                cursor: pointer;
                width: 100%; height: 390px;
                overflow: hidden;
                border-radius: 300px;
                margin-bottom: 25%;
                @include responsive(pc-screens) {
                    width: 100%; height: 30%;
                    cursor: auto;
                    overflow: visible;
                    margin-left: 0;
                    width: 50%;
                    .for-slide {
                        overflow: hidden;
                        // border: 1px solid white;
                        width: 200%; height: 1300px;
                        padding: 0; margin-left: -10%;
                        margin-top: -70%;
                        .first-slide,
                        .second-slide,
                        .third-slide {
                            position: relative;
                            z-index: 3;
                            height: 100%; width: 100%;
                            // border: 1px solid pink;
                            background-color: $color-main;
                            margin: 0;
                            margin-top: -1120px;
                        }
                    }
                }

                .first-line-fall {
                    position: relative;
                }
                .b, 
                .j,
                .profile-capture {
                    position: relative;
                    z-index: 0;
                    width: 100%;
                    padding: 0 20px;
                    background-color: #fff;
                    margin: -100% 0 0 -5%;
                    // margin-left: 10%; margin-top: 10%;
                    @include responsive(pc-screens) {
                        position: relative;
                        width: 70%; height: 28%;
                        margin: 0;
                        border-radius: 1000px;
                        background-color: transparent;
                    }
                }
                
                
                .webPF {
                    position: relative;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0.5);
                    text-align: center;
                    font-size: 1.3rem;
                    padding-top: 13%; padding-bottom: 15%;
                    width: 100%; height: 100%;
                    @include responsive(pc-screens) {
                        margin-top: -99.4%; margin-left: -10%;
                        background-color: transparent;
                        padding: 0;
                        // background-color: aqua;
                    }
                }

                .pc-submarine-text{
                    @include responsive(pc-screens) {
                        margin-top: 132%;
                        margin-left: 20%;
                        width: 90%;
                    }
                }

                .one{
                    @include responsive(pc-screens) {
                        width: 100%;
                        margin-left: 8%;
                        .webPF{
                            position: relative;
                            text-align: left;
                            border-left: 2px solid $color-sub;
                            width: 100%; height: 45.3%;
                            margin-left: 10%;
                            padding: 50% 6%;
                        }
                    }
                }

                .two {
                    @include responsive(pc-screens) {                            
                        margin-left: 19%;
                        margin-top: 71.5%;
                        span {
                            padding: 182px 0 49px 0;
                            margin-left: 140px;
                            border-left: 2px solid $color-sub;
                        }
                        .webPF{
                            width: 100%;
                            text-align: center;
                            margin-top: 40%; margin-left: -70px;
                        }
                    }
                }

                .three{
                    @include responsive(pc-screens) {
                        position: relative;
                        .webPF{
                            width: 100%; height: 45.3%;
                            // position: absolute;
                            margin-left: -40%; margin-top: -112%;
                            padding: 50% 6%;
                            border-right: 2px solid $color-sub;
                            text-align: right;
                        }
                    }
                }

                .submarine-pc {
                    display: none;
                    @include responsive(pc-screens) {
                        display: inline-block;
                        width: 170%;
                        // border: 1px solid aqua;
                    }
                }

                @include responsive(pc-screens) {
                    .second-pc {
                        margin-left: 8%;
                        width: 143%;
                    }
                    .third-pc {
                        margin-left: 14%;
                    }
                }
                
            } // circle

            @include responsive(pc-screens) {
                .submarine-one {
                    position: relative;
                    .buttons {
                        position: relative;
                        margin-left: 23%;
                    }
                }
                .submarine-two{ 
                    margin-left: 4%; 
                    .buttons {
                        margin-top: 6%;
                        margin-left: 18%; 
                    }
                }
                .submarine-three { 
                    margin-left: 8%;
                    .buttons {
                        margin-top: 24%;
                        margin-left: 11%;
                        width: 32%;
                    }
                }
            }

            .buttons {
                position: relative;
                margin: 5% 10%;
                display: flex;
                flex-direction: row;
                // background-color: pink;
                
                
                @include responsive(pc-screens) {
                    display: block;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 30%;
                    // margin: 5% 9%;
                }
                .design,
                .detail {
                    cursor: pointer;
                    margin: auto 50%;
                    text-align: center;
                    border: 2px solid $color-sub;
                    padding: 5% 10%;
                    border-radius: 10px;
                    // background-color: aqua;
                    @include responsive(pc-screens) {
                        margin:0
                    }
                }
                .design {
                    // background-color: aqua;
                    margin-right: -30%;
                    @include responsive(pc-screens) {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        } // circles

        .java-box-container {
            @include responsive(pc-screens) {
                border: 1px solid pink;
                margin-top: 300px;
            }
            .java-box{
                @include responsive(pc-screens) {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                }
                .turtle-box {
                    position: absolute;
                    overflow: hidden;
                    width: 70%; height: 50%;
                    // border: 1px solid aqua;
                    display: none;
                    @include responsive(pc-screens) {
                        display: block;
                    }

                    .first-turtle,
                    .second-turtle {
                        @include responsive(pc-screens) {
                            // display: block;
                            position: relative;
                            width: 40%;
                            left: 32%; top: -110%;
                            z-index: 1;
                        }
                    }
    
                    .first-turtle {
                        transform: rotate(90deg);
                    }
                    .second-turtle {
                        transform: rotate(-90deg);
                    }
                }
                
            }

            .first-java-box {
                @include responsive(pc-screens) {
                    margin-top: 20%;
                }
            }
        }
        
        .first { 
            margin-top: 30%;
            @include responsive(pc-screens) {
                margin-top: 0%;
                margin-right: 10%;
                img {
                    // margin-right: 20%;
                }
            }
        }
        .java {
            margin-bottom: 10%;
            img {
                width: 100%;
                @include responsive(pc-screens) {
                    width: 100%;
                }
            }

            .java-text {
                // background-color: aqua;
                width: 63%;
                float: left;
                @include responsive(pc-screens) {
                    margin-right: 12%;
                }
            }

            .buttons_java {
                position: relative;
                z-index: 1;
                // background-color: pink;
                float: left;
                width: 20%;
                margin-bottom: 15%;
                @include responsive(pc-screens) {
                    display: block;
                    width: 20%;
                    
                }
                .design,
                .detail {
                    cursor: pointer;
                    margin: auto 50%; padding: 15px auto;
                    text-align: center;
                    border: 2px solid $color-sub;
                    padding: 5% 10%;
                    border-radius: 10px;
                    // background-color: aqua;
                    margin-right: -30%; 
                    width: 100%;
                    margin-bottom: 10%;
                    // float: left;
                    @include responsive(pc-screens) {
                        margin:0
                    }
                }
                .design {
                    // background-color: aqua;
                    @include responsive(pc-screens) {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    } // section portfolio end

    section.contact {
        .contact-box {
            // background-color: pink;
            border: 1px solid #c5cacc;
            border-radius: 10px;
            width: 92%; 
            padding: 4%;
            margin-bottom: 15%;
        }

        form {
            // background-color: aqua;
            line-height: 2.3rem;
            #name,
            #phonenumber {
                margin-left: 1rem;
                width: 80%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $color-sub;
            }
            #message {
                background-color: transparent;
                width: 100%;
                border: 1px solid $color-sub;
            }

            #name,
            #phonenumber,
            #message {
                color: $color-sub;
            }

            .contact-btns {
                text-align: right;
                button {
                    cursor: pointer;
                    font-family: $font-main;
                    font-size: 0.8rem;
                    background-color: transparent;
                    border: 1px solid $color-sub;
                    color: $color-sub;
                    padding: 8px 12px;
                    border-radius: 5px;
                    margin-right: 20px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            } // contact-btns
        } // form
    } // section contact end
}

footer {
    .footer-box {
        background-color: $color-sub;
        padding-top: 3%;
        padding-bottom: 20%;
        color: $color-main;
        text-align: center;
            @include responsive(pc-screens) {
                padding-top: 1%;
                padding-bottom: 0;
            }
        img {
            width: 10%;
            padding: 5%;
            @include responsive(pc-screens) {
                width: 3%;
            }
        }
    }
}