@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$font-main: 'GmarketSansMedium';
$color-main: #142850;
$color-sub: #f1f6f5;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;