@font-face {
    font-family: 'KOFIHDrLEEJWTTF-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }

$font-main: 'KOFIHDrLEEJWTTF-B';
$color-main: #142850;
$color-sub: #f1f6f5;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;